<!-- this view is used for the Add action and the Update action -->
@model PrintSize
@{
    string title = ViewBag.Action + " Size Option";
    ViewBag.Title = title;    // sets title to "Add Product" or "Update Product"
}

<!-- since this view uses validation, it should provide the validation scripts 
     so these scripts can be inserted into the layout -->
@section scripts {
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/
                       jquery.validate.unobtrusive.min.js"></script>
}

<h1>@ViewBag.Title</h1>

<form asp-action="Update" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Dimensions">Dimensions</label>
        <input asp-for="Dimensions" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" inputmode="numeric" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Active">Active</label>
        <select asp-for="Active" class="form-control">
            <option value="True">Active</option>
            <option value="False">Inactive</option>
        </select>
    </div>

    <input type="hidden" asp-for="Id" />
    <br />
    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>